ul {
  list-style: none;
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid black;
}
li {
    margin-right: 20px;
}
.navlink {
    text-decoration: none;
    color: black;
}
.navlink:hover {
    color: orange;

}